body {
	font-family: "Noto Sans JP", sans-serif;
	background-image: url("images/background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:inherit;
}

.portfolio-app {
	width: 100%;
}
.topNav {
	background: black;
}

.portCont .topNav {
	border-bottom: 5px outset black;
}

.nav-item a {
	color: white;
	font-weight: 300;
}

.nav-link {
	border-radius: 2px;
}

.nav-link:hover {
	color: white;
	font-weight: 600;
}

div h1 p {
color: white;
}

.portCont {
	min-width: 526px;
}

.profilePic {
	float: right;
	margin: 25px 35px 35px 25px;
	max-width: 250px;
	border-radius: 10em;
	box-shadow: 10px 5px 5px gray;
}

.project {
	margin: 10px;
}

.project:hover {
	box-shadow: inset 0px 0px 8px white,
	0 0 15px white;
}

.projectHeader {
	border-radius: 20px;
}

.paraTop{
	margin-top:  25px;
}
.projectTitle{
	font-size: 25px;
}

.projectImg{
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.text {
	color:white;
}

.resumeLink {
	color:white;
}