#root {
	background-color: black;
}
.portfolio-app {
  width: 100%;
}
.topNav {

  background: black;
}

.portCont .topNav {
  border-bottom: 5px outset black;
}

.nav-item a {
  color: white;
  font-weight: 600;
}

.nav-link {
	border-radius: 2px;
}

div h1 p {
  color: white;
}

.portCont {
  min-width: 526px;
}

.profilePic {
	float: left;
	margin: 25px 35px 35px 25px;
	max-width: 13rem;
	border-radius: 5rem;
	border-width: 10px;
	border-style: groove solid double;
	box-shadow: -5px -5px 0px 0px darkblue;
}

.carousel-inner {
	max-height: 400px;
	min-height: 400px;
}

.carousel-item {
	max-height: 400px;
	min-height: 400px;
}

.carousel-inner .carousel-caption {
	margin-bottom: 300px;
}

.project {
	color:blanchedalmond;
	margin: 10px;
}

.project:hover {
	box-shadow: inset 0px 0px 8px darkblue,
	0 0 15px blue;
}

.projectHeader {
	border-radius: 20px;
}

.paraTop{
	margin-top:  25px;
}
.projectTitle{
	font-size: 25px;
}

.projectImg{
	min-height: 192px;
	max-height: 192px;
}