.footer {
  margin-top: 1rem;
  padding: 1rem;
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
	min-width: 320px;
  font-weight: 350;
}

.footerName{
margin: 15px 0px 0px 15px;
color: white;
}

.iconLink {
	color: white;
}

.body {
  background-color: black;
}
